body{
    
}
.landing{
    background-image: url("images/rain-storm.jpg");
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}
.home-logo{
    transform: translateY(105%);
    text-align: center;
    width: 62%;
    position: absolute;
    left: 18%;
}
.sounds_page{
    background-color: #181F30;
    height: 100vh;
}
.sounds-header{
    background: linear-gradient(rgba(24,31,48,0.5),rgba(24,31,48,0.5)), url("images/rain-clouds.jpg");
    padding: 98px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sounds-header h1{
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.sounds-column{
    margin: 0px auto;
    padding: 165px 0;
    width: 90%;
}
.choose-sound{
    padding: 17px;
    margin: 17px 10px;
    border-radius: 15px;
}
.choose-sound h3{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 100;
    color: white;
    margin: 22px auto;
    padding-left: 10px;
    display: inline-block;
}
.choose-sound img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: inline-block;
    float: right;
    margin: auto 45px;
    padding: 5px;
}
.playing{
    background-image: url("images/autumn.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
.play-header{
    padding: 10px;
    background-color: rgba(196,196,196,0.3);
    box-shadow: 2px 6px 24px rgba(0,0,0,0.25);
}
.play-header h2{
    text-align: center;
    font-size: 63px;
    font-family: 'Lato', sans-serif;
    color: white;
    margin: 36px;
}
.play-btns{
    margin-top:190px;
    padding: 20px;
    display:block;
}
.play-btn{
    width:33%;
    float:left;
    text-align: center;
}
.play-btn img{
    height: 85px;
    width: 85px;
    padding: 20px;
    border: 8px solid white;
    border-radius: 15%;
}
.play-stop{
    transform: translateY(350%);
    padding: 20px;
    position: relative;
    top: 350px;
}
.control{
    width: 44%;
    text-align: center;
    float: left;
    margin: 20px;
}
.control img{
    height: 150px;
    width: 150px;
    padding: 30px;
    border: 8px solid white;
    border-radius: 15%;
}
.control h3{
    font-size: 75px;
    color: white;
    padding: 59px 4px;
    border: 8px solid white;
    border-radius: 15%;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 53%;
    margin-left: 65px;
    text-align: center;
}
.settings-header{
    padding: 10px;
    background: linear-gradient(rgba(24,31,48,0.5),rgba(24,31,48,0.5)),  url("images/rain-clouds.jpg");
    box-shadow: 2px 6px 24px rgba(0,0,0,0.25);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.settings-header h2{
    text-align: center;
    font-size: 68px;
    font-family: 'Lato', sans-serif;
    color: white;
    margin: 36px;
}
.settings-panel{
   margin: 125px 0;
}
.settings-type{
    padding: 3px;
    background: linear-gradient(rgba(24,31,48,0.7),rgba(24,31,48,0.7)),  url("images/rain-clouds.jpg");
    box-shadow: 2px 6px 24px rgba(0,0,0,0.25);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 15px 0;
}
.settings-type h3{
    font-size: 45px;
    font-family: 'Lato', sans-serif;
    font-weight:400;
    color: white;
    margin-left: 50px;
    margin: 24px 0px 24px 50px;
}